{extend name="/base/mobile_base" /}

{block name="title"}
	<title>项目文档</title> 		
{/block}
<!-- 主体 -->
{block name="body"}
<div class="note-channel">
	<div id="listBox" class="load-data-list"></div>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}	
	<script type="text/javascript">
		const moduleInit = ['tool','loadData'];
		function mbuiInit() {
			let tool = mbui.tool,loadData=mbui.loadData;
			loadData({
				url:'/project/document/datalist',
				template:function(data){
					var listItem = '<a href="/project/document/view/id/'+data.id+'.html" class="border-bottom">\
								<dl class="clearfix">\
									<dt class="f16">'+data.title+'</dt>\
									<dd class="f13"><span class="load-data-span"><i>记录时间：</i>'+data.create_time+'</span><span class="load-data-span"><i>创建人：</i>'+data.admin_name+'</span></dd>\
									<dd class="f13"><span class="load-data-span"><i>关联项目：</i>'+data.project+'</span></dd>\
								</dl>\
							</a>';
					return listItem;
				}	
			});
		}
	</script>
{/block}