{extend name="/base/mobile_base" /}

{block name="title"}
	<title>客户管理</title> 		
{/block}

{block name="style"}
	<style type="text/css">
		html,body {overflow:hidden;}
		#root {position:absolute; top:0;left:0;right:0;bottom:0; overflow-y:auto;-webkit-overflow-scrolling: touch; overflow-scrolling: touch;}
	</style>
{/block}

{block name="body"}
<div style="padding:12px 12px 8px;">
	<div class="mbui-grid">
		<div class="mbui-grid-title">客户中心</div>
		<div class="mbui-grid-box clearfix">
			<a href="/qiye/customer/datalist?tab=1" class="mbui-grid-item">
				我的客户
				<span class="mbui-grid-item-mun">{$customer_count.a}</span>
			</a>
			<a href="/qiye/customer/datalist?tab=2" class="mbui-grid-item">
				下属客户
				<span class="mbui-grid-item-mun">{$customer_count.b}</span>
			</a>
			<a href="/qiye/customer/datalist?tab=3" class="mbui-grid-item">
				共享客户
				<span class="mbui-grid-item-mun">{$customer_count.c}</span>
			</a>
		</div>
	</div>
</div>
<div style="padding:8px 12px;">
	<div class="mbui-grid">
		<div class="mbui-grid-title">常用功能</div>
		<div class="mbui-grid-box clearfix">
			<a href="/qiye/customer/rush" class="mbui-grid-item">
				<span class="mbui-grid-item-icon"><i class="iconfont icon-qiangke"></i></span>
				抢客宝
			</a>
			<a href="/qiye/customer/sea" class="mbui-grid-item">
			   <span class="mbui-grid-item-icon"><i class="iconfont icon-gonghaikehu"></i></span>
				公海客户
			</a>
			<a href="/qiye/customer/trash" class="mbui-grid-item">
				<span class="mbui-grid-item-icon"><i class="iconfont icon-feiqikehu"></i></span>
				废弃客户
			</a>
		</div>
	</div>
</div>

<div style="padding:8px 12px;">
	<div class="mbui-grid">
		<div class="mbui-grid-title">联系跟进</div>
		<div class="mbui-grid-box clearfix">
			<a href="/qiye/customer/contact" class="mbui-grid-item">
				<span class="mbui-grid-item-icon"><i class="iconfont icon-kehulianxiren"></i></span>
				客户联系人
			</a>
			<a href="/qiye/customer/chance" class="mbui-grid-item">
			   <span class="mbui-grid-item-icon"><i class="iconfont icon-jihuixiansuo"></i></span>
				机会线索
			</a>
			<a href="/qiye/customer/trace" class="mbui-grid-item">
				<span class="mbui-grid-item-icon"><i class="iconfont icon-genjinjilu1"></i></span>
				跟进记录
			</a>
		</div>
	</div>
</div>
<div style="height:60px;"></div>
{/block}

{block name="script"}	
	{include file="base/mobile_bar" /}
	<script type="text/javascript">			
		const moduleInit = ['layer'];
		function mbuiInit() {
			let tool = mbui.tool,layer=mbui.layer;	
		}
	</script>
{/block}