{extend name="/base/mobile_base" /}

{block name="title"}
	<title>报销列表</title> 		
{/block}
<!-- 主体 -->
{block name="body"}
<div class="mbui-tab">
	<ul class="mbui-tab-title">
		<li {eq name="$tab" value="1"} class="active" {/eq}>
			<a class="link-a" href="javascript:;" data-href="/qiye/finance/expense?tab=1">我申请的</a>
		</li>
		<li {eq name="$tab" value="2"} class="active" {/eq}>
			<a class="link-a" href="javascript:;" data-href="/qiye/finance/expense?tab=2">待我审核</a>
		</li>
		<li {eq name="$tab" value="3"} class="active" {/eq}>
			 <a class="link-a" href="javascript:;" data-href="/qiye/finance/expense?tab=3">我已审核</a>
		</li>
		<li {eq name="$tab" value="4"} class="active" {/eq}>
			 <a class="link-a" href="javascript:;" data-href="/qiye/finance/expense?tab=4">抄送我的</a>
		</li>
	</ul>
</div>
<div id="listBox" class="load-data-list"></div>
<div class="mbui-new-add"><a href="/finance/expense/add" title="新增报销" data-event="menu"><i class="iconfont icon-addnew"></i></a></div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}	
	<script type="text/javascript">
		const tab = {$tab};
		const moduleInit = ['tool','loadData'];
		function mbuiInit() {
			let tool = mbui.tool,loadData=mbui.loadData;
			loadData({
				url:'/qiye/finance/expense',
				where:{tab:tab},
				template:function(data){
					let pay_status='';
					if(data.check_status==2){
						pay_status = '<span class="mbui-text-red">未打款</span>';
						if(data.pay_status==1){
							pay_status = '<span class="mbui-text-green">已打款</span>';
						}
					}
					else{
						pay_status='-';
					}
				
					var listItem = '<a href="/finance/expense/view/id/'+data.id+'.html" class="border-bottom">\
								<dl class="clearfix">\
									<dt class="f16">报销金额：'+data.cost+'</dt>\
									<dd class="f13"><span class="load-data-span"><i>审批状态：</i><span class="check-status-color-'+data.check_status+'">'+data.check_status_str+'</span></span><span class="load-data-span"><i>凭证编号：</i>'+data.code+'</span></dd>\
									<dd class="f13"><span class="load-data-span"><i>报 销 人：</i>'+data.admin_name+'</span><span class="load-data-span"><i>报销部门：</i>'+data.department+'</span></dd>\
									<dd class="f13"><span class="load-data-span"><i>打款状态：</i>'+pay_status+'</span><span class="load-data-span"><i>原始单据日期：</i>'+data.expense_time+'</span></dd>\
								</dl>\
							</a>';
					return listItem;
				}	
			});
		}
	</script>
{/block}