{extend name="/base/mobile_base" /}
{block name="title"}
	<title>报销详情</title>		
{/block}
{block name="style"}
<style>
.user-name{line-height:26px;}
.user-ops{font-size:14px; color:#999;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<div class="mbui-user-panel margin-16-b">
	<div class="avatar">
		<img src="{$create_user.thumb|default=''}" alt="{$create_user.name|default=''}">
	</div>
	<div class="panel-info">
		<div class="user-name">{$create_user.name|default=''}的报销</div>
		<div class="user-ops">部门：{$create_user.department|default=''}，职称：{$create_user.position|default=''}</div>
	</div>
</div>
<div class="mbui-group">
	<div class="mbui-list">
		<div class="mbui-list-bd">凭证编号</div>
		<div class="mbui-list-ft">{$detail.code}</div>
    </div>
	<div class="mbui-list">
		<div class="mbui-list-bd">入账月份</div>
		<div class="mbui-list-ft">{$detail.income_month}</div>
    </div>
	<div class="mbui-list">
		<div class="mbui-list-bd">原始单据日期</div>
		<div class="mbui-list-ft">
			{$detail.expense_time}
		</div>
    </div>
	{if condition="$detail.project_id > 0"}
	<div class="mbui-list">
		<div class="mbui-list-bd">关联项目</div>
		<div class="mbui-list-ft">{$detail.ptname}</div>
    </div>
	{/if}
	<div class="mbui-list">
		<div class="mbui-list-bd">报销总费用(元)</div>
		<div class="mbui-list-ft">{$detail.cost}</div>
    </div>
</div>
	
<div class="mbui-group-title">报销选项</div>
{volist name="$detail.list" id="vo"}
<div class="mbui-group">
	<div class="mbui-list">
		<div class="mbui-list-bd">报销项目</div>
		<div class="mbui-list-ft">{$vo.cate_title}</div>
    </div>
	<div class="mbui-list">
		<div class="mbui-list-bd">报销金额(元)</div>
		<div class="mbui-list-ft">{$vo.amount}</div>
    </div>
	<div class="mbui-list margin-bottom">
		<div class="mbui-list-bd">备注说明</div>
		<div class="mbui-list-ft">{$vo.remarks}</div>
    </div>
</div>
{/volist}

{notempty name="$detail.file_array"}
<div class="mbui-group-title">相关附件</div>
<div class="bg-white">
	<div class="mbui-file-list" style="padding:12px 12px 2px;">
	{volist name="$detail.file_array" id="vo"}
		{:file_item($vo,'view')}
	{/volist}
	</div>
</div>
{/notempty}

<div id="checkBox" data-status="{$detail.check_status}" data-id="{$detail.id}" data-checkflowid="{$detail.check_flow_id}"></div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}	
	<script type="text/javascript">			
		const moduleInit = ['layer','fixedbar','oaCheck','fileupload'];
		const id = {$detail.id};
		function mbuiInit() {
			let tool = mbui.tool,layer=mbui.layer,oaCheck=mbui.oaCheck;
			//审批相关
			oaCheck.init({
				check_name:'expense',
				checking_btn:'<button class="mbui-btn bg-green link-a" data-href="/finance/expense/add/id/'+id+'.html">编辑</button>'
			});
		}
	</script>
{/block}
<!-- /脚本 -->